<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
  <title>Standart manufacture - {{ title }}</title>
</head>
<body>
{% include 'header.html' %}
{% include 'main.html' %}
{% include 'footer.html' %}
<script src="{{ url_for('static', filename='js/script.js') }}"></script>
<script src="https://api-maps.yandex.ru/2.1/?apikey=6e16697c-f9ff-4c05-99ac-960bb899bb6c&lang=ru_RU"
        type="text/javascript"></script>

<script>
  let coords = {{ city.coords | tojson }}.split(',');
  let street = '{{ street }}';
  let phone = '{{ city.tel_num }}';
</script>
<script src="{{ url_for('static', filename='js/yaMap.js') }}"></script>
</body>
</html>
