<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="../static/css/style.css">
  <title>Standart manufacture</title>
</head>
<body>
<header class="header">
  <div class="container">
    <div class="header__content">
      <div class="burger">
        <span></span>
      </div>
      <div class="header__logo">
        <img src="../static/img/logo.svg" alt="Логотип">
      </div>

      <div class="header__menu">
        <ul class="header__wrapper">
          <li class="menu__link"><a href="#catalog">Каталог</a></li>
          <li class="menu__link"><a href="#price">Расчет стоимости</a></li>
          <li class="menu__link"><a href="#partners">Партнеры</a></li>
          <li class="menu__link"><a href="#rewiews">Отзывы</a></li>
        </ul>

        <ul class="header__contacts">
          <li class="contact__address">
            <div class="address__city">Москва</div>
            <button class="address__list">Все города</button>
          </li>

          <li class="contact__phone">
            <div class="phone__number">8-985-344-76-46</div>
            <button class="phone__form">Заказать звонок</button>
          </li>
        </ul>

      </div>


    </div>
  </div>
</header>

<main>
  <div class="main">
    <div class="container">
      <div class="main__content">
        <div class="main__title">Краб - система</div>
        <div class="main__subtitle">Для быстровозводимых каркасных конструкций</div>
        <button class="main__button button">Получить консультацию</button>
      </div>
    </div>
    <div class="main__image image-background">
      <img src="../static/img/main/background.jpg" alt="background">
    </div>
  </div>

  <div class="advantages">
    <div class="container">
      <div class="advantages__content">
        <div class="advantages__title title">ПРЕИМУЩЕСТВА СИСТЕМЫ</div>
        <div class="advantages__items">
          <div class="advantages__items-col">
            <div class="advantages__item">
              <div class="advantages__item-picture"><img src="../static/img/advantages/bodybuilding.svg" alt=""></div>
              <div class="advantages__item-content">
                <div class="advantages__item-title">Высокая прочность,
                  жёсткость и надёжность
                </div>
                <div class="advantages__item-text text">По прочности соединение с помощью
                  краб-системы ничем не уступает сварке
                </div>
              </div>
            </div>
            <div class="advantages__item">
              <div class="advantages__item-picture"><img src="../static/img/advantages/cycle.svg" alt=""></div>
              <div class="advantages__item-content">
                <div class="advantages__item-title">Возможность многоразового
                  использования
                </div>
                <div class="advantages__item-text text">Система соединения позволяет перестроить
                  конструкцию – уменьшить, увеличить размеры
                </div>
              </div>
            </div>
          </div>

          <div class="advantages__items-col">
            <div class="advantages__item">
              <div class="advantages__item-picture"><img src="../static/img/advantages/piggy.svg" alt=""></div>
              <div class="advantages__item-content">
                <div class="advantages__item-title">Низкая стоимость</div>
                <div class="advantages__item-text text">Цена конструкции относительна низка, так как:<br>
                  • Вам не нужно использовать сварочный аппарат; <br>
                  • работу Вы можете сделать своими руками
                </div>
              </div>
            </div>
            <div class="advantages__item">
              <div class="advantages__item-picture"><img src="../static/img/advantages/montage.svg" alt=""></div>
              <div class="advantages__item-content">
                <div class="advantages__item-title">Простота монтажа</div>
                <div class="advantages__item-text text">Для выполнения работ Вам не требуется
                  специальных знаний, Краб-система
                  закрепляется при помощи болтов и гаек
                </div>
              </div>

            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="products" id="catalog">
    <div class="container">
      <div class="products__content">
        <div class="products__title title">ВСЕГДА В НАЛИЧИИ</div>
        <div class="products__cards">
          <div class="card__item">
            <div class="card__picture"><img src="../static/img/products/T-crab1.jpg" alt="Товар"></div>
            <div class="card__info">
              <div class="card__text text card-text">Т-образная краб-система 20х20</div>
              <div class="card__price-and-quantity">
                <div class="card__price">20 руб/комп</div>
                <div class="card__quantity">
                  <input class="quanitiy__input card-text" value="0" type="text">
                  <div class="quanitiy__text card-text">комп.</div>
                </div>
              </div>
              <button class="card__button card-text">Заказать</button>
            </div>
          </div>
          <div class="card__item">
            <div class="card__picture"><img src="../static/img/products/T-crab2.jpg" alt="Товар"></div>
            <div class="card__info">
              <div class="card__text text card-text">Х-образная краб-система 20х20</div>
              <div class="card__price-and-quantity">
                <div class="card__price">20 руб/комп</div>
                <div class="card__quantity">
                  <input class="quanitiy__input card-text" value="0" type="text">
                  <div class="quanitiy__text card-text">комп.</div>
                </div>
              </div>
              <button class="card__button card-text">Заказать</button>
            </div>
          </div>
          <div class="card__item">
            <div class="card__picture"><img src="../static/img/products/T-crab3.jpg" alt="Товар"></div>
            <div class="card__info">
              <div class="card__text text card-text">Т-образная краб-система 25х25</div>
              <div class="card__price-and-quantity">
                <div class="card__price">25 руб/комп</div>
                <div class="card__quantity">
                  <input class="quanitiy__input card-text" value="0" type="text">
                  <div class="quanitiy__text card-text">комп.</div>
                </div>
              </div>
              <button class="card__button card-text">Заказать</button>
            </div>
          </div>
          <div class="card__item">
            <div class="card__picture"><img src="../static/img/products/T-crab4.jpg" alt="Товар"></div>
            <div class="card__info">
              <div class="card__text text card-text">Х-образная краб-система 25х25</div>
              <div class="card__price-and-quantity">
                <div class="card__price">25 руб/комп</div>
                <div class="card__quantity">
                  <input class="quanitiy__input card-text" value="0" type="text">
                  <div class="quanitiy__text card-text">комп.</div>
                </div>
              </div>
              <button class="card__button card-text">Заказать</button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="about">
    <div class="container">
      <div class="about__content">
        <div class="about__title title">Почему мы?</div>
        <div class="about__items">
          <div class="about__item">
            <div class="about__item-picture">
              <img src="../static/img/about/factory.svg" alt="">
            </div>
            <div class="about__info">
              <div class="about__item-title">Собственное
                производство
              </div>
              <div class="about__text text">Мы изготавливаем элементы краб-системы на собственном
                производстве в Вологде, уделяя особое внимание качеству.
              </div>
            </div>
          </div>
          <div class="about__item">
            <div class="about__item-picture">
              <img src="../static/img/about/truck.svg" alt="">
            </div>
            <div class="about__info">
              <div class="about__item-title">Доставка по всей России</div>
              <div class="about__text text">Мы осуществляем доставку нашей продукции по всей России.</div>
            </div>
          </div>
          <div class="about__item">
            <div class="about__item-picture">
              <img src="../static/img/about/rub.svg" alt="">
            </div>
            <div class="about__info">
              <div class="about__item-title">Доступные цены</div>
              <div class="about__text text">Так как мы являемся производителем, мы
                предлагаем нашу продукцию без лишних наценок.
              </div>
            </div>
          </div>
          <div class="about__item">
            <div class="about__item-picture">
              <img src="../static/img/about/like.svg" alt="">
            </div>
            <div class="about__info">
              <div class="about__item-title">Гарантия качества</div>
              <div class="about__text text">Мы уделяем особое внимание качеству нашей продукции и дорожим
                нашими клиентами.
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="video">
    <div class="container container-special">
      <div class="video__content">
        <div class="video__title title">наше производство</div>
        <div class="video__media">
          <video class="video__element" src="../static/img/video/video.mp4" muted></video>
          <div class="video__button" id="playBtn"><img src="../static/img/video/Vector.svg" alt=""></div>
        </div>
      </div>
    </div>
    <div class="video__image image-background">
      <img src="../static/img/video/background_crab.png" alt="background">
    </div>
  </div>

  <div class="form" id="price">
    <div class="container">
      <div class="form__content">
        <form class="form__window" method="POST" action="#">
          <div class="form__title title">ОСТАВИТЬ ЗАВЯВКУ</div>
          <div class="form__subtitle">НА РАСЧЕТ СТОИМОСТИ</div>

          <div class="form__wrapper">

            <div class="form__tel">
              <div class="tel__icon"><img src="../static/img/icons/phone-form.svg" alt=""></div>
              <input type="tel" placeholder="Номер телефона">
            </div>
            <div class="form__email">
              <div class="email__icon"><img src="../static/img/icons/email.svg" alt=""></div>
              <input type="email" placeholder="E-mail">
            </div>

            <button class="form__button button" type="submit">Заказать расчёт цены</button>
            <div class="form__checkbox">
              <label>
                <input class="checkbox__input" type="checkbox">
                <span class="checkbox__mask"></span>
                <div class="checkbox__text">Соглашаюсь с <a href="#">условиями передачи данных</a></div>
              </label>
            </div>
          </div>
        </form>
      </div>
    </div>
    <div class="form__image image-background">
      <img src="../static/img/form/background_.jpg" alt="background">
    </div>
  </div>

</main>

<footer></footer>

<script src="../static/js/script.js"></script>
</body>
</html>