<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Standart ma nufacture</title>
</head>
<body>
<header class="header">
    <div class="container">
        <div class="header__content">
            <div class="burger">
                <span></span>
            </div>
            <div class="header__logo">
                <img src="../static/img/logo.svg" alt="Логотип">
            </div>

            <div class="header__menu">
                <ul class="header__wrapper">
                    <li class="menu__link"><a href="#catalog">Каталог</a></li>
                    <li class="menu__link"><a href="#price">Расчет стоимости</a></li>
                    <li class="menu__link"><a href="#partners">Партнеры</a></li>
                    <li class="menu__link"><a href="#rewiews">Отзывы</a></li>
                </ul>

                <ul class="header__contacts">
                    <li class="contact__address">
                        <div class="address__city">Москва</div>
                        <button class="address__list">Все города</button>
                    </li>

                    <li class="contact__phone">
                        <div class="phone__number">8-985-344-76-46</div>
                        <button class="phone__form">Заказать звонок</button>
                    </li>
                </ul>

            </div>


        </div>
    </div>
</header>

<main></main>

<footer></footer>

<script src="../static/js/script.js"></script>
</body>
</html>